version: "3.1"
services:

  kibana:
    image: kibana:7.2.0
    environment:
      ELASTICSEARCH_HOSTS: '["{% for host in groups['logging'] %}
{{ host }}
{%- if not loop.last %}","{% endif %}
{% endfor %}"]'

    ports:
      - 5601:5601
    networks:
      - node_1

networks:
  node_1:
    external: true

