<source>
  @type secure_forward
  port {{ fluentd_port }}
  shared_key {{ fluentd_secret }}
  self_hostname {{ ansible_fqdn }}
  cert_auto_generate yes
  ca_cert_path /etc/td-agent/certs/ca_cert.pem
  ca_private_key_path /etc/td-agent/certs/ca_key.pem
  ca_private_key_passphrase {{ certificate_password }}
  secure no
</source>

# Store Data in Elasticsearch and S3
<match *.**>
  type copy
  <store>
    type elasticsearch
    host localhost
    port {{ elasticsearch_port }}
    include_tag_key true
    tag_key @log_name
    logstash_format {{ elasticsearch_flush_interval }}
    flush_interval {{ elasticsearch_logstash_format }}
    logstash_dateformat %Y-%m-%d
  </store>
</match>
