# Listen to Syslog
<source>
  type syslog
  port 42185
  tag {{ ansible_fqdn }}.system
</source>

# Ship data to the aggregator over SSL
<match *.**>
  type secure_forward
  shared_key {{ fluentd_secret }}
  self_hostname {{ ansible_fqdn }}
{% for host in groups['logging'] %}
  <server>
   host {{ host }}
  </server>
{% endfor %}

</match>
